* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #f5ba13;
    --hover-main-color: #f8cc51;
}

body {
    background-color: #eee;
}

#btn--add-note {
    position: fixed;
    left: 50%;
    bottom: 30px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: var(--main-color);
    box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 30%);
}

#btn--add-note:hover {
    cursor: pointer;
    background-color: var(--hover-main-color);
}