/* https://www.w3schools.com/w3css/tryw3css_templates_band.htm# */

/*
1. Position
2. Size
3. Color
4. Appearance
*/

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
}

.clear-float {
    clear: both;
}

.margin-auto {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 100%;
    height: 46px;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
    margin: 0;
}

#nav > li > a {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 46px;

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}

#nav > li:hover > a, 
.sub_nav li:hover a {
    color: black;
    background-color: rgb(211, 208, 203);
}

#nav li:hover .sub_nav {
    display: block;
}

.sub_nav {
    display: none;
    position: absolute;
    top: 46px;
    left: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sub_nav > li {
    min-width: 160px;
    height: 38px;
}

.sub_nav li a {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 38px;
}

#nav .nav-down-icon {
    font-size: 12px;
}

#search {
    width: 62px;
    height: 46px;
    padding: 0 24px;
    float: right;
    background-color: black;
}

#search:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .nav-search-icon {
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;

    background: url("../img/slider/chicago.jpg") top center / cover no-repeat;
    position: relative;
}

.slider-img-desc {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    text-align: center;
    color: white;
}

.slider-img-desc > h3 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
}

.slider-img-desc  > p {
    font-size: 15px;
    font-weight: bold;
}

#content {
}

#about {
    padding: 64px 16px;
}

#about > p {
    margin: 15px 0;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 15px;
}

.section-title > h2 {
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

.section-title > p {
    margin-top: 15px;
    line-height: 1.5;
    opacity: 0.60;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

#member-list {
    padding: 32px 0;
}

.member {
    float: left;
    width: 33.33333%;
    text-align: center;
}

.member > p {
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}

.avatar {
    width: 154px;
    margin-bottom: 16px;
    border-radius: 4px;
}

#bg {
    background-color: black;
}

#tour {
    padding: 64px 16px;
    background-clip: padding-box;
    background-color: black;
}

#tour > .section-title > p,
#tour > .section-title > h2 {
    color: white;
}

#date-list > li {
    height: 39px;
    padding: 8px 16px;
    list-style-type: none;
    color: #757575;
    background-color: white;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.date-sold-out {
    padding: 0 8px;
    margin-left: 16px;
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    background-color: #f44336;
}

.date-avail {
    float: right;
    margin-right: 16px;
    padding: 0 8px;
    border-radius: 100%;
    color: white;
    background-color: black;
    font-size: 15px;
    line-height: 1.5;
}

#place_list {
    padding: 32px 8px;
    margin: 0 -16px;
}

.place { 
    width: 33.33333%;
    float: left;
    padding: 0 8px;
    margin-bottom: 16px;
}

.place > img {
    display: block;
    width: 100%;
    opacity: 1.00;
}

.place > img:hover {
    opacity: 0.60;
}

.place-desc {
    padding: 0.150px 16px;
    background-color: white;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.date-sold-out {
    padding: 0 8px;
    margin-left: 16px;
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    background-color: #f44336;
}

.date-avail {
    float: right;
    margin-right: 16px;
    padding: 0 8px;
    border-radius: 100%;
    color: white;
    background-color: black;
    font-size: 15px;
    line-height: 1.5;
}

.place-desc p {
    margin: 15px 0;
}

.place-date {
    margin: 15px 0;
    opacity: 0.60;
    font-size: 15px;
    line-height: 1.5;
}

.place-info {
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
}

.button-buy {
    height: 38px;
    padding: 8px 16px;
    margin-bottom: 16px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.button-buy:hover {
    color: black;
    background-color: #ccc;
}

#contact {
    padding: 64px 16px;
}

#contact-container {
    padding: 32px 0;
}

#contact-info {
    width: 50%;
    float: left;
    margin-bottom: 16px;
}

#contact-info .contact-icon {
    width: 30px;
    font-size: 18px;
    line-height: 1.5;
}

#contact-form {
    width: 50%;
    float: left;
    margin-bottom: 16px;
}

#form-row-1 {
    margin: 0 -8px;
}

.input-container {
    margin-bottom: 8px;
    width: 50%;
    padding: 0 8px;
    float: left;
}

input {
    width: 100%;
    height: 40px;
    padding: 8px 8px;
    font-size: 15px;
    line-height: 40px;
}

#contact-form .button-buy {
    float: right;
    margin-top: 16px;
}

#footer {
    
}
