/* https://www.w3schools.com/w3css/tryw3css_templates_band.htm# */

/*
1. Position
2. Size
3. Color
4. Appearance
*/

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
}

#header {
    width: 100%;
    height: 46px;
    position: fixed;
    background-color: black;
}

#nav {
}

#nav li {
    display: inline-block;
    position: relative;
    margin: 0;
}

#nav > li > a {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 46px;

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}

#nav > li:hover > a, 
.sub_nav li:hover a {
    color: black;
    background-color: rgb(211, 208, 203);
}

#nav li:hover .sub_nav {
    display: block;
}

.sub_nav {
    display: none;
    position: absolute;
    top: 46px;
    left: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sub_nav > li {
    min-width: 160px;
    height: 38px;
}

.sub_nav li a {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 38px;
}

#slider {
    height: 1600px;
}
