:root {
    --text-color: #333;
    --primary-color: #ee4d2d;
}

* {
    box-sizing: inherit;
}

html {
    text-decoration: none;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}