:root {
    --header-height: 120px;
    --header-navlist-height: 25px;
    --header-search-height: calc(var(--header-height) - var(--header-navlist-height));
    --text-color: #333;
    --primary-color: #ee4d2d;
    --btn-hover-color: #f06347;
    --grow-from: 0.7;
    --grow-to: 1;
}

* {
    box-sizing: inherit;
}

html {
    text-decoration: none;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

h3 {
    margin: 0;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growUp {
    from {
        transform: scale(var(--grow-from));
    }
    to {
        transform: scale(var(--grow-to));
    }
}

/*** MODAL ***/

.modal--show {
    display: flex;
}

.modal--hide  {
    display: none;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    z-index: 1;
    width: 400px;
    margin: auto;
    border-radius: 4px;
    background-color: white;
    animation: growUp linear 0.2s;
}

.auth-form__header {
    width: 396px;
    height: 68px;
    padding: 22px 30px;
    line-height: 24px;
    font-size: 1.4rem;
}

.auth-form__form {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
}

