:root {
    --text-color: #333;
    --primary-color: #ee4d2d;
    --btn-hover-color: #f06347;
}

* {
    box-sizing: inherit;
}

html {
    text-decoration: none;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

h3 {
    margin: 0;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*** MODAL ***/

.modal {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    z-index: 1;
    width: 400px;
    height: 430px;
    margin: auto;
    border-radius: 4px;
    background-color: white;
}

.auth-form__header {
    width: 396px;
    height: 68px;
    padding: 22px 30px;
    line-height: 24px;
    font-size: 1.4rem;
}

.auth-form__form {
    padding-left: 32px;
}

.auth-form__input {
    width: 336px;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 18px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    font-size: 1.4rem;
}

.auth-form__input::placeholder {
    color: rgb(226, 226, 226);
    font-size: 1.4rem;
}

.auth-form__btn-submit {
    width: 336px;
    height: 40px;
    margin-bottom: 32px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
}

.auth-form__btn-submit:hover {
    background-color: var(--btn-hover-color);
    animation: hoverChangeColor ease-in 0.2s;
}

@keyframes hoverChangeColor {
    from {
        background-color: var(--primary-color);
    }
    to {
        background-color: var(--btn-hover-color);
    }
}

.auth-form__seperator {
    color: rgb(150, 150, 150);
}