.header {
    height: 120px;
    background-image: linear-gradient(180deg, #f53d2d, #f63);
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    margin-top: 8px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}

.header__nav-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
}

.header__nav-item--bold {
    font-weight: 500;
}

.header__nav-item--border {
    padding-right: 8px;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.header__nav-item--qr:hover > .header__qr {
    display: block;
}

.header__nav-icon-link {
    margin-left: 8px;
}

.header__nav-icon {
    margin-left: 10px;
    margin-right: 4px;
}

.header__nav-icon-link,
.header__nav-icon {
    font-size: 1.6rem;
    color: white;
}

.header__nav-link {
    color: white;
}

.header__nav-item--bold.header__nav-item--border {
    margin-left: 20px;
}

.header__nav-link:hover,
.header__nav-link:hover > .header__nav-icon,
.header__nav-icon-link:hover,
.header__nav-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__qr {
    width: 186px;
    top: 150%;
    display: none;
    position: absolute;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    animation: fadeIn ease-in 0.3s;
}

.header__qr > img {
    width: 176px;
    height: 176px;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
}

.header__qr-stores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-link:nth-child(3) {
    margin-top: 2px;
    margin-left: 10px;
}

.header__qr-store-img {
    height: 18px;
}

.header__notify {
    width: 404px;
    position: absolute;
    top: 150%;
    right: 0;
    display: none;
    border: 1px solid #d3d3d3;
    background-color: white;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrow ease-in 0.25s;
    will-change: opacity, transform;
}

@keyframes headerNotifyGrow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify::before {
    position: absolute;
    right: 23px;
    top: -23px;
    border-width: 14px 16px;
    border-style: solid;
    content: "";
    border-color: transparent transparent white transparent;
}

.header__notify::after {
    width: 90px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: -14px;
    content: "";
}

.header__nav-item:hover .header__notify {
    display: block;
}

.header__notify-item {
    background-color: rgba(240, 161, 145, 0.08);
}

.header__notify-item--seen {
    background-color: white;
}

.header__notify-header {
    height: 40px;
    background-color: white;
    cursor: default;
}

.header__notify-header h3 {
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-link {
    display: flex;
}

.header__notify-icon {
    width: 48px;
    height: 48px;
    margin-top: 10px;
    margin-left: 12px;
}

.header__notify-body {
    margin-left: 6px;
    padding-right: 20px;
}

.header__notify-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.header__notify-description {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.header__notify-footer {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__notify-footer:hover {
    background-color: rgba(194, 183, 183, 0.5);
}

.no-hover-effect {
    cursor: default;
}


/****** MODAL *****/


.auth-form__input {
    width: 336px;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 18px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    font-size: 1.4rem;
}

.auth-form__input::placeholder {
    color: rgb(226, 226, 226);
    font-size: 1.4rem;
}

.auth-form__btn-submit {
    width: 336px;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
}

.auth-form__btn-submit:hover {
    background-color: var(--btn-hover-color);
    animation: hoverChangeColor ease-in 0.2s;
}

.auth-form__sign-in-support {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    margin-bottom: 10px;
}

.auth-form__sign-in-support p {
    margin: 0px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #05a;   
}

@keyframes hoverChangeColor {
    from {
        background-color: var(--primary-color);
    }
    to {
        background-color: var(--btn-hover-color);
    }
}

.auth-form__seperator {
    margin-bottom: 22px;
    text-align: center;
    border-bottom: 1px solid rgb(200, 200, 200);
    line-height: 0px;
    color: rgb(200, 200, 200);
    font-size: 1.3rem;
}

.auth-form__seperator span {
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
}

.auth-form__alt-auth {
    display: flex;
    justify-content: space-evenly;
    margin-left: -8px;
    margin-right: -8px;
}

.auth-form__alt-btn {
    display: flex;
    height: 40px;
    margin: 5px;
    padding-left: 2px;
    padding-right: 11px;
    border-radius: 2px;
    line-height: 40px;
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.auth-form__alt-btn:hover {
    opacity: 0.95;
}

.auth-form__alt-btn:nth-child(1) {
    background-color: #1877F2;;
}

.auth-form__alt-btn:nth-child(2) {
    background-color: #4285F4;;
}

.auth-form__alt-btn:nth-child(3) {
    background-color: black;
}

.auth-form__alt-icon-container {
    width: 36px;
    height: 36px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.auth-form__alt-icon-container--right-margin {
    margin-right: 8px;
}

.auth-form__alt-icon-container--white {
    background-color: white;
}

.auth-form__alt-icon {
    width: 22px;
    height: 22px;
    margin: auto;
    background-image: url('../images/auth/icons.png');
}

.auth-form__alt-icon--facebook {
    background-color: #1877F2;
    background-size: 372% 232%;
    background-position: 76.47058823529412% 15.151515151515152%;
}

.auth-form__alt-icon--google {
    background-color: white;
    background-size: 516.6666666666666% 322.22222222222223%;
    background-position: 100% 100%;
}

.auth-form__alt-icon--apple {
    background-color: black;
    background-size: 290.625% 181.25%;
    background-position: 8.19672131147541% 19.23076923076923%;
}

.auth-form__policy {
    font-size: 1.1rem;
    margin-top: 25px;
    text-align: center;
}

.auth-form__policy-text-link {
    color: var(--primary-color);
}

.auth-form__footer {
    margin-bottom: 30px;
    font-size: 1.4rem;
    text-align: center;
    color: rgb(150, 150, 150);
}

.auth-form__footer-text-link {
    color: var(--primary-color);
}