header {
    width: 100%;
    padding: 6px 32px;
    background-color: var(--main-color);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

header > h1 {
    color: white;
    font-family: 'McLaren', cursive;
    font-weight: bolder;
}