/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Calibri";
  background-color: #f4f4f5;
}

body > div {
  margin: auto;
}

#toast-layout {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    margin-bottom: 2px;
    padding: 20px 0px;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 1s;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(calc(100% + 32px));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast__body {
  min-width: 284px;
}

.toast__msg {
    opacity: 0.6;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__icon {
  font-size: 24px;
}

.toast__close {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.toast__close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.toast--success {
  border-color: #47d864;
}

.toast--failure {
  border-color: #ff623d;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--failure .toast__icon {
  color: #ff623d;
}

#btn-layout {
  display: flex;
  transform: translateY(300px);
}

.btn {
  padding: 8px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  color: white;
  transition: opacity 0.5s ease;
}

.btn:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.btn + .btn {
  margin-left: 16px;
}

.btn--success {
  background-color: #47d864;
}

.btn--failure {
  background-color: #ff623d;
}
